/script/
/exp/
/data/
/src/.ipynb_checkpoints/
/src/__pycache__/
/src/*.ipynb
/src/*.log
.ipynb_checkpoints/
.idea/
/model.tar.gz
src/__pycache__/
src/data/__pycache__/
src/models/__pycache__/
src/models/graphgpt/__pycache__/
src/utils/__pycache__/
*.DS_Store
*.whl
xdl_config_*
/pyg_lib-0.2.0+pt112cu113-cp38-cp38-linux_x86_64.whl
/torch_cluster-1.6.0+pt112cu113-cp38-cp38-linux_x86_64.whl
/torch_scatter-2.1.0+pt112cu113-cp38-cp38-linux_x86_64.whl
/torch_sparse-0.6.16+pt112cu113-cp38-cp38-linux_x86_64.whl
/torch_spline_conv-1.2.1+pt112cu113-cp38-cp38-linux_x86_64.whl
/script/whl/pyg_lib-0.2.0+pt112cpu-cp38-cp38-linux_x86_64.whl
/script/whl/torch_cluster-1.6.0+pt112cpu-cp38-cp38-linux_x86_64.whl
/script/whl/torch_scatter-2.1.0+pt112cpu-cp38-cp38-linux_x86_64.whl
/script/whl/torch_sparse-0.6.16+pt112cpu-cp38-cp38-linux_x86_64.whl
/script/whl/torch_spline_conv-1.2.1+pt112cpu-cp38-cp38-linux_x86_64.whl
/requirements_nebula.txt
/requirements_pai.txt
